
<div class="container">
  <br>
  <h1 class="text-center">About me</h1>
  <br>
<p>Hello, I am <b>Shrikant Jagtap</b> Graduate computer Engineer and also passionate full-stack developer always busy to learn new things and improving skills day by day.</p>
<p>I interested in frontend technologies such as HTML, CSS, and JavaScript, AngukarJS as well as backend database like MySQL, MongoDB and framework like SpringBoot.</p>
<p>I also have knowledge of programming languages such as Java, Python, C++,etc.</p>
<p>Throughout my Academic, I have worked on various projects ranging from small-scale websites to large-scale enterprise applications.</p>
<p>I am proficient in using modern development tools and following best practices to deliver high-quality software solutions.</p>
<p>Feel free to explore my portfolio to learn more about my skills, projects, and experience.</p>
</div>
