
<br>
<br>
<div class="container">
  <h1 class="text-center">My Projects</h1>
  <br>
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="assets/Image/Leave_MS.png" class="card-img-top"
          alt="Leave Management System">
        <div class="card-body">
          <h5 class="card-title">Software App for Online Leave Management System</h5>
          <p class="card-text"><b>Technology used</b> Frontend HTML,CSS,Bootstrap and Backend Java,Spring Boot Framework and MySQL database</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="assets/Image/Tailoring_MS.png" class="card-img-top"
          alt="Software Application">
        <div class="card-body">
          <h5 class="card-title">Software App for Tailoring Management
            System</h5>
          <p class="card-text"><b>Technology used</b> Frontend HTML,CSS,Bootstrap and Backend Asp.net,php and MySQL database</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="assets/Image/Health_Ins_ML.png" class="card-img-top"
          alt="Health Insurance Prediction">
        <div class="card-body">
          <h5 class="card-title">Health Insurance Premium Charge Cost
            Prediction</h5>
          <p class="card-text"> <b>Technology used</b> Python, Machine Learning, Numpy,Pandas,etc Libraries</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <img src="assets/Image/Adhar_foundation.png" class="card-img-top"
          alt="Web Application">
        <div class="card-body">
          <h5 class="card-title">Web Application for Food and Cloth Management System</h5>
          <p class="card-text"><b>Technology used</b> Frontend HTML,CSS,Bootstrap and for Backend we use Firebase Database</p>
        </div>
      </div>
    </div>

  </div>
</div>
